In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [3]:
df = pd.read_csv('data\cleaned_airline_passenger_satisfaction.csv')
df

<>:1: SyntaxWarning: invalid escape sequence '\c'
<>:1: SyntaxWarning: invalid escape sequence '\c'
C:\Users\Nicholas\AppData\Local\Temp\ipykernel_25496\1331210257.py:1: SyntaxWarning: invalid escape sequence '\c'
  df = pd.read_csv('data\cleaned_airline_passenger_satisfaction.csv')

,Unnamed: 0,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,0,0.0,1.0,13,0.0,0.0,460,3,4,3,...,5,4,3,4,4,5,5,25,18,1.0
1,1,0.0,0.0,25,1.0,2.0,235,3,2,3,...,1,1,5,3,1,4,1,1,6,1.0
2,2,1.0,1.0,26,1.0,2.0,1142,2,2,2,...,5,4,3,4,4,4,5,0,0,0.0
3,3,1.0,1.0,25,1.0,2.0,562,2,5,5,...,2,2,5,3,1,4,2,11,9,1.0
4,4,0.0,1.0,61,1.0,2.0,214,3,3,3,...,3,3,4,4,3,3,3,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103899,103899,1.0,0.0,23,1.0,1.0,192,2,1,2,...,2,3,1,4,2,3,2,3,0,1.0
103900,103900,0.0,1.0,49,1.0,2.0,2347,4,4,4,...,5,5,5,5,5,5,4,0,0,0.0
103901,103901,0.0,0.0,30,1.0,2.0,1995,1,1,1,...,4,3,2,4,5,5,4,7,14,1.0
103902,103902,1.0,0.0,22,1.0,1.0,1000,1,1,1,...,1,4,5,1,5,4,1,0,0,1.0
103903,103903,0.0,1.0,27,1.0,2.0,1723,1,3,3,...,1,1,1,4,4,3,1,0,0,1.0